<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="myBudget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="myBudget.Properties.Settings.ServermyBudgetConnectionString"
            connectionString="Data Source=dhazard.com;Initial Catalog=myBudget;Persist Security Info=True;User ID=jholderman"
            providerName="System.Data.SqlClient" />
        <add name="myBudget.Properties.Settings.ClientmyBudgetConnectionString"
            connectionString="Data Source=|DataDirectory|\myBudget.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <myBudget.Properties.Settings>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
        </myBudget.Properties.Settings>
    </userSettings>
</configuration>